<mat-sidenav-container>
  <mat-sidenav-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <form action="" [formGroup]="myForm" (ngSubmit)="signIn(myForm)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field>
        <input formControlName="email" matInput type="text" placeholder="Email">
        <mat-error *ngIf="myForm.controls.email.hasError('email')">Invalid Email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" matInput type="password" placeholder="Password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Sign In</button>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>