<div fxLayout="row" fxLayoutAlign="end">
  <button mat-icon-button mat-dialog-close tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form action="" (ngSubmit)="enrollStudent(newStudentForm)">
  <div class="modal-container">


    <mat-dialog-content>
      <div class="modal-container">

        <div *ngIf="settingsHasLoaded">

          <div [formGroup]="newStudentForm">

            <!-- first_name -->
            <mat-form-field>
              <input type="text" matInput placeholder="First Name" formControlName="first_name">
            </mat-form-field>

            <!-- middle_name -->
            <mat-form-field>
              <input type="text" matInput placeholder="Middle Name" formControlName="middle_name">
            </mat-form-field>

            <!-- last_name -->
            <mat-form-field>
              <input type="text" matInput placeholder="Last Name" formControlName="last_name">
            </mat-form-field>

            <!-- email -->
            <mat-form-field>
              <input type="text" matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <!-- home_address -->
            <mat-form-field>
              <input type="text" matInput placeholder="Home Address" formControlName="home_address">
            </mat-form-field>

            <!-- father_name -->
            <mat-form-field>
              <input type="text" matInput placeholder="Father's Name" formControlName="father_name">
            </mat-form-field>

            <!-- mother_name -->
            <mat-form-field>
              <input type="text" matInput placeholder="Mother's Name" formControlName="mother_name">
            </mat-form-field>

            <!-- gender -->
            <mat-form-field>
              <mat-select placeholder="Gender" [(value)]="newStudentForm.value.gender" formControlName="gender">
                <mat-option value="Male">
                  Male
                </mat-option>
                <mat-option value="Female">
                  Female
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- school_year -->
            <mat-form-field>
              <mat-select placeholder="School Year" [(value)]="newStudentForm.value.school_year" formControlName="school_year">
                <mat-option [value]="schoolYear.id" *ngFor="let schoolYear of schoolYears">
                  {{schoolYear.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- birthdate -->
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Birth Date" formControlName="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <br>
            <br>
            <br> Department
            <br>
            <br>

            <!-- department -->
            <mat-radio-group (change)="checkIfCollegeDepartment($event)" formControlName="department" fxLayout="row" fxLayoutGap="15px">
              <mat-radio-button color="primary" *ngFor="let department of departments" [value]="department">
                {{department.name}}
              </mat-radio-button>
            </mat-radio-group>
            <br>
            <!-- isCollege -->
            <div *ngIf="isCollege">
              <mat-form-field>
                <mat-select [errorStateMatcher]="matcher" [(value)]="newStudentForm.value.college" placeholder="College" formControlName="college">
                  <mat-option>None</mat-option>
                  <mat-option [value]="college.id" *ngFor="let college of colleges">
                    {{college.name}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>

            <!-- year_level -->
            <mat-form-field *ngIf="hasSelectedDepartment">
              <mat-select placeholder="Year Level" [errorStateMatcher]="matcher" [(value)]="newStudentForm.value.year_level" formControlName="year_level">
                <mat-option>None</mat-option>
                <mat-option [value]="yearLevel.id" *ngFor="let yearLevel of yearLevels">
                  {{yearLevel.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>



          </div>






        </div>

        <div *ngIf="!settingsHasLoaded" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <mat-progress-spinner diameter="35" color="primary" mode="indeterminate"></mat-progress-spinner>
          <span>Loading Settings...</span>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="settingsHasLoaded">
      <button mat-raised-button type="submit" color="primary">
        Enroll
      </button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

  </div>
</form>