/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin: 0;
    font-family: Roboto;
}

.space-top{
    padding-top: 100px;
}

.container{
    padding-left: 30px;
    padding-right: 30px;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent  ;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54)  ;
}

.modal-container{
    padding: 15px;
}
.mat-dialog-container{
    padding: 10px !important;
}